.card-body.profile-card .row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.card-body.profile-card .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-body.profile-card .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255 255 255 / 27%);
    border-radius: 0.25rem;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.card-body.profile-card .col-12 a h5 {
    font-size: 20px;
}
.card-body.profile-card .btn h5 {
    color: #fff;
}
.card-body.profile-card a.btn {
    padding: 10px;
}
.btn {
    cursor: pointer;
    margin: 1rem 0.5rem !important;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: block;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.card-body.profile-card .col-6 {
    padding: 10px 20px;
}
